.bot-collection {
  width: 48%;
  height: 98%;
  background-color: rgba(250, 250, 250, 0.1);
}

.bots {
  width: 100%;
  height: 93%;
  overflow-y: auto;
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
}
